<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/login.css">
    <title>Seller Login</title>
</head>
<style>
    body{
    background-image: url("pictures/bg2.jpg");
    min-height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat; 
    background-size:cover;   
}
</style>
<body>
    <h1>Seller Login</h1>
    <main>
        <div class=" contents">
        <div class="uname">
            <label> User Name</label>
            <input type="text" name="" id="username" required="true">

        </div>
        <div class="password">
            <label> Password</label>
            <input type="text" name="" id="password">
        </div>
        <div class="submit">
            <input type="button" name="" id="btn" value="Sign In">
        </div>
        <a href="#">Forget Password ?</a>
        <a href="#"><b>Sign Up</b></a>
    </div>
    </main>
</body>
</html>